<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>{{results}}
            <a href="#/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new incident</a>
            <tr>
                <th>Alert Level</th>
                <th>Council Area</th>
                <th>Incident Name</th>
                <th>Last Updated</th>
                <th>Location</th>
                <th>Responsible Agency</th>
                <th>Size</th>
                <th>Status</th>
                <th>Type</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tr ng-repeat="incident in incidents">
                {{incident.alertLevel+' '+incident.councilArea}}
                <td><input ng-show="incident.isDirty" ng-model="incident.alertLevel" type="text" id="alertLevel" value="{{incident.alertLevel}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.alertLevel}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.councilArea" type="text" id="councilArea" value="{{incident.councilArea}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.councilArea}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.incidentName" type="text" id="incidentName" value="{{incident.incidentName}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.incidentName}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.lastUpdated" type="text" id="lastUpdated" value="{{incident.lastUpdated}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.lastUpdated}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.location" type="text" id="location" value="{{incident.location}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.location}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.responsibleAgency" type="text" id="responsibleAgency" value="{{incident.password}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.password}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.size" type="text" id="size" value="{{incident.size}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.size}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.status" type="text" id="status" value="{{incident.status}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.status}}</a></td>
                <td><input ng-show="incident.isDirty" ng-model="incident.type" type="text" id="type" value="{{incident.type}}"/><a ng-hide="incident.isDirty" href="#/incident/{{incident.id}}" class="thumb">{{incident.type}}</a></td>

                <td class="text-center">
                    <a ng-hide="incident.isDirty" class='btn btn-info btn-xs' ng-click="editincident(incident)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a ng-show="incident.isDirty" class='btn btn-info btn-xs' ng-click="saveincident(incident)"><span class="glyphicon glyphicon-edit"></span> Save</a>
                    <a ng-click="deleteincident($index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>

        </table>
    </div>
</div>