<div id="signuppanel" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form name="signupform"  class="form" role="form">
                <input ng-model="incident.incidentName" class="form-control" name="incidentName" placeholder="Incident Name" type="text" required/>
                <input ng-model="incident.alertLevel" class="form-control" name="alertLevel" placeholder="Alert Level" type="text" required/>
                <input ng-model="incident.councilArea" class="form-control" name="councilArea" placeholder="Council Area" type="text" required/>
                <input ng-model="incident.lastUpdated" class="form-control" name="lastUpdated" placeholder="Last Updated" type="text" required/>
                <input ng-model="incident.location" class="form-control" name="location" placeholder="Location" type="text" required/>
                <input ng-model="incident.responsibleAgency" class="form-control" name="responsibleAgency" placeholder="Responsible Agency" type="text" required/>
                <input ng-model="incident.incidentName" class="form-control" name="incidentName" placeholder="Incident Name" type="text" required/>
                <input ng-model="incident.size" class="form-control" name="size" placeholder="Size" type="text" required/>
                <input ng-model="incident.status" class="form-control" name="status" placeholder="Status" type="text" required/>
                <input ng-model="incident.type" class="form-control" name="type" placeholder="Type" type="text" required/>
                <br />
                <button ng-disabled="signupform.$invalid" ng-click="addincident()" class="btn btn-lg btn-primary btn-block">
                    Sign up</button>
            </form>
            <div ng-show="result">{{result}}<a href='/'>Show Lists</a></div>
        </div>
    </div>
</div>
